body {
    font-family: 'lato', sans-serif;
  }
  
 body {
  font-family: 'lato', sans-serif;
}

.StudentTable.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.StudentTable h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.StudentTable h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 15%;
  text-align: center;
}

.responsive-table .col-2 {
  flex-basis: 25%;
  text-align: center;
}

.responsive-table .col-3 {
  flex-basis: 25%;
  text-align: center;
}

.responsive-table .col-4 {
  flex-basis: 25%;
  text-align: center;
}

.responsive-table .col-5 {
  flex-basis: 10%;
  text-align: center;
}



/* ===================================================================================== */
.SelectButton {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #4b908f;
}

/* ===================================================================================== */
.applyIntern * {
  box-sizing: border-box;
}

.applyIntern html.open, .applyIntern body.open {
  height: 100%;
  overflow: hidden;
}

.applyIntern html {
  padding: 40px;
  font-size: 62.5%;
}

.applyIntern body {
  padding: 20px;
  background-color: #5BB9B8;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.applyIntern .inner-container{
  padding: 40px;
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.applyIntern p {
  text-align: center;
  margin: 20px 0 60px;
}

.applyIntern main {
  background-color: white;
}


.applyIntern h1 {
  text-align: center;
  font-weight: 300;
  color: #202932;
  padding: 0 0 40px 0px;
}

.applyIntern table {
  display: block;
  width: 100%;
}

.applyIntern tr, .applyIntern td, .applyIntern tbody, .applyIntern tfoot {
  display: block;
}

.applyIntern thead {
  display: none;
}

.applyIntern tr {
  padding-bottom: 10px;
}

.applyIntern td {
  padding: 10px 10px 0;
  text-align: center;
}
.applyIntern td:before {
  content: attr(data-title);
  color: #7a91aa;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 10px;
  display: block;
}

.applyIntern th {
  text-align: left;
  font-weight: 700;
}

.applyIntern thead th {
  background-color: #202932;
  color: #fff;
  border: 1px solid #202932;
}

.applyIntern tfoot th {
  display: block;
  padding: 10px;
  text-align: center;
  color: #b8c4d2;
}

.applyIntern .button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: #4b908f;
}

.applyIntern .details {
  padding-bottom: 20px;
  border-bottom: 1px solid #28333f;
}
.applyIntern .details:before {
  display: none;
}

.applyIntern .details a{
  background-color: #4169e1;
}

.applyIntern .details a:hover {
  background-color: #3e63d3;
}

.applyIntern .apply {
  padding-bottom: 20px;
  border-bottom: 1px solid #28333f;
}
.applyIntern .apply:before {
  display: none;
}

.applyIntern .button:hover {
  background-color: #468180;
}

.applyIntern .detail {
  background-color: #BD2A4E;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.applyIntern .detail.open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.applyIntern .detail-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 500px;
}

.applyIntern dl {
  margin: 0;
  padding: 0;
}

.applyIntern dt {
  font-size: 2.2rem;
  font-weight: 300;
}

.applyIntern dd {
  margin: 0 0 40px 0;
  font-size: 1.8rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ac2647;
  box-shadow: 0 1px 0 #c52c51;
}

.applyIntern .close {
  background: none;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  right: 40px;
  top: 20px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.applyIntern .close:hover, .applyIntern .close:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

@media (min-width: 720px) {
  .applyIntern td {
    text-align: left;
  }
  .applyIntern td:before {
    display: inline-block;
    text-align: right;
    width: 140px;
  }

  .applyIntern .select {
    padding-left: 160px;
  }

  .applyIntern table {
    display: table;
  }

  .applyIntern tr {
    display: table-row;
  }

  .applyIntern td, .applyIntern th {
    display: table-cell;
  }

  .applyIntern tbody {
    display: table-row-group;
  }

  .applyIntern thead {
    display: table-header-group;
  }

  .applyIntern tfoot {
    display: table-footer-group;
  }

  .applyIntern td {
    border: 1px solid #28333f;
  }
  .applyIntern td:before {
    display: none;
  }

  .applyIntern td, .applyIntern th {
    padding: 10px;
  }

  .applyIntern tr:nth-child(2n+2) td {
    background-color: #242e39;
  }

  .applyIntern tfoot th {
    display: table-cell;
  }

  .applyIntern .select {
    padding: 10px;
  }
}
/* Title for Sign Up ===================================================================================== */

.title-container{
  position: fixed;
  height: 100%;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  display: inline;
}

.title{
  text-align: center;
  font-size: 30px;
}
/* ===================================================================================== */

.form-footer{
  margin-top: 2em;
}

.submit{
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 0.875rem;
    background: #10b981;
    top: 1em;
    right: 1em;
    color: #fff;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    float: right;
}

.submit:hover{
  background: #11c388;
}

.edit{
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #10b981;
  top: 1em;
  right: 1em;
  color: #fff;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
}

.edit:hover{
background: #11c388;
}

.profile-img{
  max-width: 200px;
}

.btnback{
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #797979;
  top: 1em;
  right: 1em;
  color: #fff;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
}

.btnback:hover{
background: #878787;
}
