
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Internship</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/static/css/animated.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/additional.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area background-header header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
                <li><a href="{{url_for('student')}}">Home</a></li>
                <li><a href="{{url_for('applyIntern')}}" class="active">Internship</a></li>
              <li><a href="{{url_for('StudentLogBook')}}">LogBook</a></li>
                <li><a href="{{url_for('StudentProfile')}}">Profile</a></li>
                <li><a href="{{url_for('index')}}">Logout</a></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container applyIntern">
        <div class="inner-container">
            <h1>Job List</h1>
            <main>
            <table>
              <thead>
                <tr>
                  <th>Job Title</th>
                  <th>Company Name</th>
                  <th>Salary</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                    <td data-title='Job Title'>{{ row[1] }}</td>
                    <td data-title='Company Name'>{{ row[2] }}</td>
                    <td data-title='Salary'>{{ row[3] }}</td>
                    <td class='details'><a class='button' href='{{url_for("JobDetails", JobId = row[0])}}'>Details</a></td>
                    <td class='apply'><a class='button' href='{{url_for("ApplyJob", JobId = row[0])}}'>Apply</a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </main>
        </div>
    </div>
  </div>



  <!-- Scripts -->
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/animation.js"></script>
  <script src="/static/js/imagesloaded.js"></script>
  <script src="/static/js/custom.js"></script>

</body>

</html>
