
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Internship</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/static/css/animated.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/additional.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area background-header header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              	<li><a href="{{url_for('company')}}">Home</a></li>
            	<li><a href="{{url_for('applicant')}}" class="active">Applicant</a></li>
	        <li><a href="{{url_for('job')}}">Job</a></li>
	        <li><a href="{{url_for('companyProfile')}}">Profile</a></li>
	        <li><a href="{{url_for('index')}}">Logout</a></li> 
            </ul>       
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  
  <!-- ***** Header Area End ***** -->
  <div class="main-banner">
    <div class="container applyIntern">
        <div class="inner-container">
		<p>{{rows}}</p>
            <h1>Intership Approve List</h1>
            <main>
            <table>
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Student Email</th>
                  <th>Student Phone Number</th>
                  <th>Student Programme</th>
                  <th>Student CGPA</th>
                  <th>Pending Approve</th>
                  <th>Job Applied</th>
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                    <td data-title='Student ID'>{{row[0]}}</td>
                    <td data-title='Student Name'>{{row[1]}}</td>
                    <td data-title='Student Email'>{{row[2]}}</td>
                    <td data-title='Student Phone Number'>{{row[3]}}</td>
                    <td data-title='Student Programme'>{{row[4]}}</td>
                    <td data-title='Student CGPA'>{{row[5]}}</td>
                    <td data-title='Job Applied'>{{row[6]}}</td>
                    <td class='details'>
                    </td>
			<td class='details'><a class='button' href='{{url_for("studentDetail", Id = row[0])}}'>Details</a>
                        <a class='button' href='{{url_for("ApproveStudent", Stud_Id = row[0], JobId = row[7])}}'>Approve</a> 
                        <a class='button' href='{{url_for("DeclineStudent", Stud_Id = row[0], JobId = row[7])}}'>Decline</a></td>
			
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </main>
        </div>
    </div>
  </div>


  <!-- Scripts -->
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/animation.js"></script>
  <script src="/static/js/imagesloaded.js"></script>
  <script src="/static/js/custom.js"></script>

</body>

</html>
