
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Internship</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="/static/css/animated.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/additional.css">
    <link rel="stylesheet" href="/static/css/nice-form-group.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area background-header header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{{url_for('company')}}">Home</a></li>
            	<li><a href="{{url_for('applicant')}}">Applicant</a></li>
	            <li><a href="{{url_for('job')}}">Job</a></li>
	            <li><a href="{{url_for('companyProfile')}}" class="active">Profile</a></li>
	            <li><a href="{{url_for('logout')}}">Logout</a></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container" style="width:50%;">
        <main class="demo-page-content">
          <section>
            
              <div class="href-target" id="input-types"></div>
              <h1>
                Student Profile
              </h1>
		  <p>{{row}}</p>
              <img class="profile-img" id="output" style="padding: 10px" src="{{row[1]}}"/>
              <div class="nice-form-group">
                <label>Company Name</label>
                <input type="text" id="Company_name" name="Company_name" placeholder="Your Name" value="{{row[0][0][1]}}" disabled/>
              </div>
  
              <div class="nice-form-group">
                  <label>Company Description</label>
                  <textarea id="Company_Description" 
                  name="Company_Description" 
                  placeholder="Your Company Description" 
                  rows="5" 
                  value="{{row[0][0][2]}}"
                  disabled></textarea>
              </div>
  
              <div class="nice-form-group">
                <label>Email</label>
                <input
                  type="email"
                  id="Company_email"
                  name="Company_email"
                  placeholder="Your Email"
                  value="{{row[0][0][5]}}"
                  class="icon-left"
                  disabled
                />
              </div>
        
              <div class="nice-form-group">
                <label>Phone Number</label>
                <input
                  type="tel"
                  id="Company_phoneNo"
                  name="Company_phoneNo"
                  placeholder="Eg. 0131234234"
                  value="{{row[0][0][3]}}"
                  class="icon-left"
                  disabled
                />
              </div>
        
              <div class="nice-form-group">
                  <label>Company Address</label>
                  <textarea  id="Company_address" 
                  name="Company_address" 
                  placeholder="Your Address" 
                  rows="5" 
                  value="{{row[0][0][4]}}" 
                  disabled></textarea>
              </div>

              <div class="form-footer">
                  <button action="{{url_for("edit")}}" class="edit">Edit</button>
              </div>
            
          </section>
          
        </main>
      </div>
  </div>
<script>

</script>
{% if session['action']=='Edit': %}
{% include 'footer.html' %}
{% endif %}

  <!-- Scripts -->
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/animation.js"></script>
  <script src="/static/js/imagesloaded.js"></script>
  <script src="/static/js/custom.js"></script>

</body>

</html>
