
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Internship</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="../assets/css/animated.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
    <link rel="stylesheet" href="../assets/css/additional.css">
    <link rel="stylesheet" href="../assets/css/nice-form-group.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>


 <!-- ***** Header Area Start ***** -->
 <header class="header-area background-header header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="{{url_for('student')}}" class="active">Home</a></li>
                <li><a href="{{url_for('applyIntern')}}">Internship</a></li>
                <li><a href="{{url_for('StudentProfile')}}">Profile</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li> 
          </ul>        
          <a class='menu-trigger'>
              <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container" style="width:50%;">
      <main class="demo-page-content">
        <section>
            <div class="href-target" id="input-types"></div>
            <h1>
              Job Details
            </h1>
      
            <div class="nice-form-group">
              <label>Job Title</label>
              <input type="text" id="Job_title" name="Job_title" placeholder="eg: Data Scientist" value="{{row[0][1]}}" disabled/>
            </div>

            <div class="nice-form-group">
              <label>Job Description</label>
              <textarea type="text" 
              id="Job_description" 
              name="Job_description" 
              placeholder="Your Job Description" 
              rows="5" 
              disabled>{{row[0][2]}}</textarea>
          </div>

            <div class="nice-form-group">
              <label>Job Requirement</label>
              <textarea type="text" 
              id="Job_requirement" 
              name="Job_requirement" 
              placeholder="eg: C++,HTML" 
              rows="5" 
              disabled>{{row[0][3]}}</textarea>
            </div>

            <div class="nice-form-group">
              <label>Job Apply Deadline</label>
              <input type="date" id="Job_apply_deadline" name="Job_apply_deadline" value="{{row[0][4]}}" disabled/>
            </div>

            <div class="nice-form-group">
              <label>Salary</label>
              <input type="number" id="Salary" name="Salary" min = 0 placeholder="Salary" value="{{row[0][7]}}" disabled/>
            </div>


            <div class="form-footer">
                {% if session['role']=='Company': %}
                <a href="{{url_for('JobDetail', JobId = row[0][0])}}"><button class="button" style="float:left;" value="Back" /></a>
                {% else: %}
                <a href="{{url_for('applyIntern')}}"><button class="button" style="float:left;" value="Back" /></a>
                {% endif %}
                {% if session['role']=='Company': %}
                <a href="{{url_for('editJob', JobId = row[0][0])}}"><button class="submit" value="Update" /></a>
                {% endif %}
            </div>
          
        </section>
        
      </main>
    </div>
  </div>
  <script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };

  </script>

  
{% if session['action']=='Edit': %}
{% include 'footer.html' %}
{% endif %}


  <!-- Scripts -->
  <script src="../assets/js/owl-carousel.js"></script>
  <script src="../assets/js/animation.js"></script>
  <script src="../assets/js/imagesloaded.js"></script>
  <script src="../assets/js/custom.js"></script>

</body>

</html>
