
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Internship</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="static/css/animated.css">
    <link rel="stylesheet" href="static/css/owl.css">
    <link rel="stylesheet" href="static/css/additional.css">
    <link rel="stylesheet" href="static/css/nice-form-group.css">
<!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area background-header header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
            </a>
            {% if session['action']=="SignUp": %}
            <div class="title-container">
              <h1 class="title"> Student Sign Up</h1>
            </div>
            {% endif %}
            
            <ul class="nav">
              {% if session['action']=="Edit": %}
              <li><a href="{{url_for('student')}}" class="active">Home</a></li>
              <li><a href="{{url_for('applyIntern')}}">Internship</a></li>
              <li><a href="{{url_for('StudentProfile')}}">Profile</a></li>
              <li><a href="{{url_for('logout')}}">Logout</a></li> 
              {% else: %}
              <li><a href="{{url_for('index')}}">Logout</a></li> 
              {% endif %}
            </ul>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container" style="width:50%;">
      <main class="demo-page-content">
        <section>
          <form action="{{url_for("manageStudent")}}" method = "POST" enctype="multipart/form-data">
            <div class="href-target" id="input-types"></div>
            <h1>
              Basic information
            </h1>
      
            <div class="nice-form-group">
              <label>Student Id</label>
              <input type="text" 
                id="Stud_Id" 
                name="Stud_Id" 
                placeholder="Eg.22WMR01234" 
                value="{{row[0][0]}}" 
                />
            </div>

            <div class="nice-form-group">
              <label>Name</label>
              <input type="text" id="Stud_name" name="Stud_name" placeholder="Your Name" value="{{row[0][1]}}" required/>
            </div>

            <div class="nice-form-group">
              <label>Email</label>
              <input
                type="email"
                id="Stud_email"
                name="Stud_email"
                placeholder="Your email"
                value="{{row[0][2]}}"
                class="icon-left"
              />
            </div>
      
            <div class="nice-form-group">
              <label>Phone Number</label>
              <input
                type="tel"
                id="Stud_phoneNo"
                name="Stud_phoneNo"
                placeholder="Eg. 0131234234"
                value="{{row[0][3]}}"
                class="icon-left"
                required
              />
            </div>
      
            <div class="nice-form-group">
              <label>Programme</label>
              <input type="text" 
              id="Stud_programme" 
              name="Stud_programme" 
              placeholder="Eg.Bachelor of Computer Science in Data Science" 
              value="{{row[0][4]}}" 
              required/>
            </div>

            <div class="nice-form-group">
              <label>CGPA</label>
              <input type="number" id="Stud_cgpa" name="Stud_cgpa" placeholder="Your CGPA" value="{{row[0][5]}}" required/>
            </div>

            <div class="nice-form-group">
              <label>Image Upload</label>
              <input type="file" 
              id="Stud_img" 
              name="Stud_img" 
              accept=".png,.jpg,.jpeg" 
              value="{{row[6]}}" 
              onchange="loadFile(event)"/>
              <img id="output" style="padding: 10px"/>
            </div>
            
            <div class="nice-form-group">
              <label>Resume Upload</label>
              <input type="file" id="Stud_resume" name="Stud_resume" accept=".pdf"/>
            </div>
            {% if session['action']=="SignUp": %}
            <div class="nice-form-group">
              <label>Password</label>
              <input
                type="password"
                id="Stud_pass"
                name="Stud_pass"
                placeholder="Your password"
                class="icon-left"
                required
              />
            </div>

            <div class="nice-form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                id="Stud_con_pass"
                name="Stud_con_pass"
                placeholder="Your password"
                class="icon-left"
                required
                onBlur="validate_password();"
              />
            </div>
            <span id="wrong_pass_alert"></span>
            {% endif %}
            <div class="form-footer">
                <input class="submit" type="submit" value="{% if session['action']=='SignUp': %}Sign Up{% else: %}Update{% endif %}"  />
            </div>
          </form>
          
        </section>
        
      </main>
    </div>
  </div>
{% if session["action"]=='SignUp': %}
  <script>
    document.getElementById('Stud_Id').required = true;
    document.getElementById('Stud_Id').disabled = false;
    document.getElementById('Stud_email').required = true;
    document.getElementById('Stud_email').disabled = false;
  </script>
  {% else: %}
   <script>
    document.getElementById('StudId').required = false;
    document.getElementById('StudId').disabled = true;
    document.getElementById('Stud_email').required = false;
    document.getElementById('Stud_email').disabled = true;
  </script>
  {% end if %}
  <script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };

    function validate_password() {
 
      var pass = document.getElementById('Stud_pass').value;
      var confirm_pass = document.getElementById('Stud_con_pass').value;
      if(confirm_pass != ''){
        document.getElementById('wrong_pass_alert').style.opacity = 1;
        if (pass != confirm_pass) {
            document.getElementById('wrong_pass_alert').style.color = 'red';
            document.getElementById('wrong_pass_alert').innerHTML
                = '☒ Use same password';
        } else {
            document.getElementById('wrong_pass_alert').style.color = 'green';
            document.getElementById('wrong_pass_alert').innerHTML =
                '🗹 Password Matched';
        }
      } else{
        document.getElementById('wrong_pass_alert').style.opacity = 0;
      }

  }

  </script>

  
{% if session['action']=='Edit': %}
{% include 'footer.html' %}
{% endif %}


  <!-- Scripts -->
  <script src="static/js/owl-carousel.js"></script>
  <script src="static/js/animation.js"></script>
  <script src="static/js/imagesloaded.js"></script>
  <script src="static/js/custom.js"></script>

</body>

</html>
